.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-self: center;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: center;
  align-items: stretch;
}
.box__erNd7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.h1 {
  position: relative;
  font-family: "Open Sans";
  font-size: 26px;
  align-self: center;
  font-weight: 400;
  width: auto;
  display: inline-block;
}
.box__jKSm {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: auto;
  align-self: center;
}
.box__rMMr2 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  align-self: center;
}
.svg___1LhT {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.svg__jKk0W {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.svg__torLe {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.svg__upOcY {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.svg___5Dwkg {
  width: 14px;
  height: 14px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.box__xQIeL {
  position: relative;
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}
